---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import OpenIcon from "./icons/OpenIcon.astro";

const investors = await getCollection("investors");
interface InvestorIndiv {
  name: string;
  type: "major" | "minor";
  logo?: string;
  subtitle?: string;
}
const investorsReducedByType = investors.reduce(
  (acc, { data }: { data: InvestorIndiv[] }) => {
    data.forEach((investor) => {
      acc[investor.type] = (acc[investor.type] || []).concat(investor);
    });
    return acc;
  },
  {} as Record<InvestorIndiv["type"], InvestorIndiv[]>
);
---

<Section as="div" class="px-0" padBlock={false}>
  <ul
    class="grid grid-cols-[repeat(2,1fr)]"
    style={{
      padding: "0 !important"
    }}
  >
    {
      investorsReducedByType.major.map(
        ({ name, logo = false, subtitle = false }) => {
          return (
            <li class="flex items-center flex-col gap-3 border-b-1 border-gray-200 py-12.5 px-12.5">
              <img
                src={logo}
                alt={name}
                class="w-[250px] h-[300px] rounded object-cover"
              />
              <div class="text-center flex flex-col gap-1">
                <h3 class="text-xl">{name}</h3>
                {subtitle && (
                  <small class="text-sm text-gray-500">{subtitle}</small>
                )}
              </div>
              <a href="https://hgo.one" class="flex items-center gap-2 text-sm hover:underline">
                Visita su perfil <OpenIcon class="w-4 h-4" />
              </a>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
