---
import Section from "./Section.astro";
import OpenIcon from "./icons/OpenIcon.astro";
import { db, TeamMember } from "astro:db";

const teamMembers = await db.select().from(TeamMember);
---

<Section as="div" class="px-0" padBlock={false}>
  <ul
    class="grid grid-cols-[repeat(2,1fr)]"
    style={{
      padding: "0 !important"
    }}
  >
    {
      teamMembers.map(({ id, name, jobTitle, imgSrc, porfolioSite }) => (
        <li class={`flex items-center flex-col gap-3 border-b-1 border-gray-200 py-12.5 px-12.5 ${id % 2 === 0 ? "" : "border-r-1"}`}>
          <img
            src={imgSrc}
            alt={`Foto de ${name}`}
            class="w-[250px] h-[300px] rounded object-cover object-right-top"
          />
          <div class="text-center flex flex-col gap-1">
            <h3 class="text-xl">{name}</h3>
            <small class="text-sm text-gray-500">{jobTitle}</small>
          </div>
            <a
              href={porfolioSite ?? `/team/${id}`}
              class="flex items-center gap-2 text-sm hover:underline"
            >
              Visita su perfil <OpenIcon class="w-4 h-4" />
            </a>
        </li>
      ))
    }
  </ul>
</Section>
